*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
}
div{
    display: block;
}
button{
    -webkit-appearance: button;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none; 
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
header{
    background-color: #b92121;
    padding: .5rem 5rem .5rem 9rem;
    height: 85px;
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center
}

.menu{
    align-self: flex-end;
    color: #ffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    min-height: 20px;
    padding: 8px;
    margin: 0 10px;
    order:1
}
.menu2{
    align-self: flex-end;
    color: #ffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    min-height: 20px;
    padding: 8px;
    margin: 0 10px;
    order:3
}
.logo-menu{
    order:1;
    margin-top:60px;
    margin-left:-20px;
    width: 100px;
}
header img{
    width: 90px;
    height: 110px;
    z-index: 2;
    order: 2;
    margin: 0 50px;
}
div .redes-menu{
    align-self: flex-end;
    padding: 0px;
    margin:0;
    width: 35px;
    height: auto;
    align-items: flex-end
}
.redes-m{
    order: 3;
    align-self: flex-end;
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    flex-direction: column;
    padding: 0 9rem;
    margin-bottom: 120px;
}
.title-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 30px 0;
}
.title-h3{
    font-size:15px;
    width: 100%;
    /*flex*/
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-h3 h3{
    border-bottom: 3px solid #000;
    padding-bottom: 30px;
    padding-top:20px;
    font-weight: 600;
}
.title-h3 p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
}
.form-contacto{
    padding: 0 1rem;
    /*flex*/
    display: flex;
    justify-content: center;
}
.form-data p{
    margin: 0;
    padding: 10px 0;
    font-size: 13px;
    font-weight: 700;
}
input, .msj-txt{
    margin-bottom: 6px;
    height: 30px;
    padding: 5px;
    border: 1px solid #d3d3d3;
    outline: none;
    box-shadow: inset 0 1px 8px rgba(0,0,0,.2);
}
.form-msj, .form-data{
    margin-right: 450px;
    /*flex*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.form-data{
    margin-right: 550px;
}
.form-msj p{
    margin: 0;
    padding: 10px 0;
    font-size: 13px;
    font-weight: 700;
}
.form-msj textarea{
    height: 170px;
    margin-bottom: 10px;
    resize: none;
}
.submit{
    background: #e2132c;
    color: #fff;
    border: none;
    width: 90px;
    flex-basis: 40px;
    align-self: flex-end;
    margin-bottom: 40px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact-title{
    border-bottom: 2px solid #000;
    /*flex*/
    display: flex;
    align-items: flex-end;

}
.contact-title h3{
    padding-bottom: 35px;
    font-weight: 600;
}

.contact-title img{
    width: 65px;
    left: 83%;
    position: absolute;
}  
.contact-p{
    width: 58%;
    margin:10px;
    margin-left: 0;
} 
.contact-p p{
    font-size: 12px;
}
footer{
    background-color: #1f1f1c;
    bottom: 0;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0 1rem 0 0;
    align-items: center;
    position: fixed;
    left: 0;
    /*flex*/
    display: flex;
    justify-content: space-around;
}
footer div img{
width:50px;
}
.title-left{
    color:#fff;
    margin-left: 20%;

}
.title-left h3, .title-right h3{
    margin: 0;
    color: rgb(163, 163, 163);
    font-size: 15px;
    font-weight: 750;
}
.title-right{
    color: rgb(163, 163, 163);
    margin-right: 20%;
    /*flex*/
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items:center; 
}

.redes-footer{
    display: flex;
    margin: 10px;
}
.redes-footer img{
    width:30px;
    padding:1px;
}
@media screen and (max-width: 800px){
header {
        background-color: #E2132C;  
        padding: 0 1rem;
        min-height: 85px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
}
}

@media only screen and (max-width: 800px) {
    .menu-first a {
        width: 100%;
        border: 3px solid #000;
    }
} 

