*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
}
div{
    display: block;
}
button{
    -webkit-appearance: button;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none; 
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
header{
    background-color: #b92121;
    padding: .5rem 5rem .5rem 9rem;
    height: 85px;
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center
}

.menu{
    align-self: flex-end;
    color: #ffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    min-height: 20px;
    padding: 8px;
    margin: 0 10px;
    order:1
}
.menu2{
    align-self: flex-end;
    color: #ffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    min-height: 20px;
    padding: 8px;
    margin: 0 10px;
    order:3
}
.logo-menu{
    order:1;
    margin-top:60px;
    margin-left:-20px;
    width: 100px;
}
header img{
    width: 90px;
    height: 110px;
    z-index: 2;
    order: 2;
    margin: 0 50px;
}
div .redes-menu{
    align-self: flex-end;
    padding: 0px;
    margin:0;
    width: 35px;
    height: auto;
    align-items: flex-end
}
.redes-m{
    order: 3;
    align-self: flex-end;
    padding: 0;
    margin: 0;
}
.icon-menu{   
    display: none;
}
.icon-menu img{
    width: 30px;
    height: auto;
}
.main{
    display: flex;
    flex-direction: column;
    padding: 0 9rem;
    margin-bottom: 120px;
}
.title-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #000;
    margin: 20px 0;
    padding: 30px 0;
}
.title-h3{
    /*flex*/
    display:flex;
    justify-content: space-between;
}
.title-h3 h3{
    font-size:16px;
    /*flex*/
    display: flex;
    align-items: flex-end;
}
div .moshi{
    display: flex;
    position: relative;
    bottom:95px;
    left:15px;
}
.moshi img{
    width:50px;
 
}

.container-time{
    min-width: 280px;
    /*flex**/
    display:flex;
    flex-direction: row;
    flex-grow: 1; 
}
.map{
    width: 50%;
    height: auto;
    margin-top:10px;

}
.container-horario{
    width: 40%;
    margin-left:85px;
}
.container-title{
    display: flex;
    position: relative;
    align-items: center;
}
.container-title p{
    background:#db2525;
    color:#fff;
    font-weight: 65 0;
    width:96%;
    padding: 10px;  
    margin-top:10px;
    margin-bottom: 10px;
}
.container-title img{
    width:52px;
    position: absolute;
    left:94.8%;
    top:-10px;
}
.schedules{
    padding: 0 1rem 20px;
    border-bottom: 3px solid #000;
    /*flex*/
    display: flex;
    flex-direction: column;
}
.schedules h1{
    color:#db2525;
    margin-top:30px;
}
.schedules p{
    margin-bottom:10px;
    margin-top:10px;
}

footer{
    background-color: #1f1f1c;
    bottom: 0;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0 1rem 0 0;
    align-items: center;
    position: fixed;
    left: 0;
    /*flex*/
    display: flex;
    justify-content: space-between;
}
footer div img{
width:50px;
}
.title-left{
    color:#fff;
    margin-left: 10%;

}
.title-left h3, .title-right h3{
    margin: 0;
    color: rgb(163, 163, 163);
    font-size: 15px;
    font-weight: 750;
}
.title-right{
    color: rgb(163, 163, 163);
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items:center; 
}

.redes-footer{
    display: flex;
    margin: 10px;
}
.redes-footer img{
    width:30px;
    padding: 1px;
}

@media screen and (max-width: 800px){
    header{
        justify-content: space-between;
        width: 100%;
        padding:0;
    }
    header img{
        margin:0;
    }
    header .menu, header .menu2, header .redes-m{
        display: none;
    }
    .title-main {
        width: 90%;
    }
    .container-time{
    width: 100%;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top:30px;
    }
    .map, .container-horario{
        width: 85%;
        height: auto;
        margin-left:10px;        
    }
    .map{
        order:2;
        margin-top:20px;
        margin-bottom:80px;
    }
    .container-horario{
        order:1;
    }
    .icon-menu{
        margin:0;
        /*flex*/
        display: flex;
        order: 3;
    }

    .icon-menu img {
        width: 40px;
        height:auto;
        align-self: flex-end;
        margin-right: 10px;
    }

    .logo{
        margin:0;
    }

    .logo-menu{
        margin-right: -70px;
    }
    .main {
        padding: 0;
        margin-bottom:0px;
    }
    .title-right, .title-left {
        margin:0;
    }
}
