*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
}
body{
    background: #D0C1C1
}
.container-login{
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    background:#ff2a2a;
    height: 500px;
    width: 35%;
    margin:20px;
    /*flex*/
    display: flex;
}