*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
}
div{
    display: block;
}
button{
    -webkit-appearance: button;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none; 
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
header{
    background-color: #b92121;
    padding: .5rem 5rem .5rem 9rem;
    height: 85px;
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center
}
.icon-menu{   
    display: none;
}
.icon-menu img{
    width: 30px;
    height: auto;
}
.menu{
    align-self: flex-end;
    color: #ffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    min-height: 20px;
    padding: 8px;
    margin: 0 10px;
    order:1
}
.menu2{
    align-self: flex-end;
    color: #ffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    min-height: 20px;
    padding: 8px;
    margin: 0 10px;
    order:3
}
.logo-menu{
    order:1;
    margin-top:60px;
    margin-left:-20px;
    width: 100px;
}
header img{
    width: 90px;
    height: 110px;
    z-index: 2;
    order: 2;
    margin: 0 50px;
}
div .redes-menu{
    align-self: flex-end;
    padding: 0px;
    margin:0;
    width: 35px;
    height: auto;
    align-items: flex-end
}
.redes-m{
    order: 3;
    align-self: flex-end;
    padding: 0;
    margin: 0;
}
.main{
    margin-bottom: 80px;
    /*flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-main{
    font-size: 15px;
    text-align: center;
    margin: 10px 0 0;
    width: 100px;
    text-decoration: none;
    color: #000;
}
.menu-main{
    align-items: center;
    width: 100px;
    margin: 0 10px;
    text-decoration: none;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-main img{
    width: 50px;
    height: 50px
}
.first{
    color: #000;
    font-weight: 700;
    text-shadow: 1px 0 #000;
}
.menu-first{
    margin: 50px 0 20px;
    /*flex*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-wrapper{
    display: flex;
    padding: 0;
    justify-content: space-around;
}
.container-prod{
    max-width: 590px;
    min-width: 130px;
    /*flex*/
    display: flex;
    flex-wrap: wrap;
}
.single-prod{
   
    position: relative;
    width: 250px;
    padding: 25px;
    margin: 10px;
    /*flex*/
    display: flex;
    align-items: center;
    flex-direction: column;    
    justify-content: center;
}
.image-wrapper, .image-prod {
    width:250px;
    height: 150px;
}
.image-wrapper{
    position:relative;
}
.container-prod div{
    display: flex;
}
.description-prod-text{  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(201,10,10,.7);
    color: #fff;
    visibility: hidden;
    opacity: .25;
    transition: opacity .2s,visibility .2s;
    /*flex*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.description-prod-text p{
    text-align: center;
}
p, h3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.description-prod{
    width: 100%;
    /*flex*/
    display: flex;
    justify-content: space-between;
}
.title-prod{
    width: 130px;
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 20px;
}
.title-prod, .price-prod{
    font-size: 12px;
    font-weight: 700;
}
.price-prod{
    color: #e2132c;
    margin: auto 10px;
    min-width: 50px;
}
.add-prod{
    font-weight: 700;
    margin: 0 5px;
    border-radius: 9px;
    cursor: pointer;
    background: none;
    font-size: 20px;
    padding: 5px 4px 7px 5px;
    line-height: 0;
    height: 25px;
    width: 25px;
    align-self: center;
    outline: none;
    border: 1px solid #909090;
    background: #fff;
}
.order{
    width: 28%;
    max-width: 600px;
    margin-top: 35px;
    min-width: 240px;
    /*flex*/
    display: flex;
    flex-direction: column;
}
.head-order{
    display: flex;
    position: relative;
    align-items: center;
}
.head-order img{
    width:60px;
    position: absolute;
    left:230px;
    top:-24px;
}
.head-order p{
    background: #b92121;
    color:#fff;
    margin:0;
    padding: 10px 5px 0px 20px;
    height:35px;
    width:100%;
    font-weight: 550;
}
.body-order{
    border-bottom: 2px solid #b92121;
    padding-bottom: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-order a{
    text-decoration: none;
    color:#fff;
    background: #ad0909;
    padding: 5px;
    cursor: pointer;
    outline: none;
}
footer{
    background-color: #1f1f1c;
    bottom: 0;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0 1rem 0 0;
    align-items: center;
    position: fixed;
    left: 0;
    /*flex*/
    display: flex;
    justify-content: space-between;
}
footer div img{
width:50px;
}
.title-left{
    color:#fff;
    margin-left: 20%;

}
.title-left h3, .title-right h3{
    margin: 0;
    color: rgb(163, 163, 163);
    font-size: 15px;
    font-weight: 750;
}
.title-right{
    color: rgb(163, 163, 163);
    margin-right: 20%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items:center; 
}

.redes-footer{
    display: flex;
    margin: 10px;
}
.redes-footer img{
    width:30px;
    padding: 1px;
}
@media screen and (max-width: 800px){
    header{
        width: 100%;
        justify-content: space-between;
    }
    header img{
        margin:0;
    }
    header .menu, header .menu2, header .redes-m{
        display: none;
    }
    main .menu-first, main .container-prod{
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    main .menu-first{
    display: flex;
    width: 100%;
}
    .menu-main{
        flex-basis: 100%;
    }
    main .order{
        display: none;
    }
    .menu-main{
        min-height: 80px;
        align-items: center;
        border-bottom: 1px solid #000;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu-main img {
        margin-right: 20px;
    }
    .container-prod{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 250px;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .icon-menu{
        margin:0;
        margin-left: 50px;
        margin-top:10px;
        /*flex*/
        display: flex;
        order: 3;
    }
    .icon-menu img {
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        width: 30px;
        height:auto;
    }
    .logo{
        margin:0;
    }
    .logo-menu{
        margin-left: -100px;
    }
}
